<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seofriends.mapper.BoardMapper">

	<!--글 작성-->
	<!-- values에는 BoardVO에서 작성한 필드(컬럼명과 보통 일치) 
	#{소문자}, 형태(myBatis)로 getter가 작동하여 들어감.
	 parameterType 은 생략이 가능하다.
	 -->

	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="com.seofriends.domain.BoardVO" useGeneratedKeys="true" keyProperty="brd_num">
	    <selectKey keyProperty="brd_num" resultType="Long" order="BEFORE">
	    	SELECT SEQ_BRD_NUM.NEXTVAL FROM DUAL
	    </selectKey>
	               		   
	    INSERT INTO BOARD_TBL(BRD_NUM, BRD_TITLE, BRD_CONTENT, MEM_ID)
		VALUES(#{brd_num}, #{brd_title}, #{brd_content}, #{mem_id})
		
    </insert>
    
    <!--첨부파일 업로드  -->
	  <insert id="insertFile" parameterType="hashMap">
		INSERT INTO BOARD_TBL_FILE(
			FILE_NO,
			BRD_NUM,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_BRD_FNO.NEXTVAL,
			#{BRD_NUM},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    <!--첨부파일 다운로드 -->
     <select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
    	SELECT 
    		STORED_FILE_NAME,
    		ORG_FILE_NAME
    	FROM 
    		BOARD_TBL_FILE
    	WHERE FILE_NO = #{FILE_NO}
    </select> 
    
    <!--첨부파일 수정 파일을 실제로 삭제하는것이 아니라 DEL_GB에 따라 N값이면 보여주고 Y이면 보여주지 않는 식으로 진행 -->
    <update id="updateFile">
    	UPDATE BOARD_TBL_FILE 
    		SET	DEL_GB = 'Y'
    	WHERE FILE_NO = #{FILE_NO}
    </update>
    
    
	
	<!--
		실행되는 결과가 select문일 경우만 resultType을 명시한다.
		다른것(Insert, update, delete등)은 사용하지 않음.
	 -->
	<select id="getList" resultType="com.seofriends.domain.BoardVO">
		 SELECT 
		 	BRD_NUM, MEM_ID, BRD_TITLE, BRD_CONTENT, BRD_DATE_REG
		 FROM 
		 	BOARD_TBL ORDER BY BRD_NUM DESC
	</select>
	
		<!--
		글 상세 조회
		BoardMapper.java(interface)
		BoardVO get(Integer bno);
		의 파라미터(Integer bno)를 명시
	-->
	<select id="get" parameterType="long" resultType="com.seofriends.domain.BoardVO">
		SELECT BRD_NUM, MEM_ID, BRD_TITLE, BRD_CONTENT, BRD_DATE_REG
		FROM BOARD_TBL
		WHERE BRD_NUM = #{brd_num}
	</select>
	
	<!-- 첨부파일이 등록된 순서로 조회 -->
	<select id="getFileList" parameterType="long" resultType="hashMap">
		SELECT 
			FILE_NO, ORG_FILE_NAME,
			ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		 FROM BOARD_TBL_FILE
		 	WHERE BRD_NUM = #{BRD_NUM}
		 AND DEL_GB = 'N'
		 	ORDER BY FILE_NO ASC
	</select>
	
	
	
		<!-- 검색 조건 쿼리. [제목 or 작성자] 선택. value="TW" -->
	<!-- typeArr: 파라미터타입의 Criteria클래스의 메서드를 가리킴. 검색종류(타입)의 값을 참조하게 됨. [제목 or 작성자]선택.  value="TW"  -->
		<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							BRD_TITLE like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							BRD_CONTENT like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'I'.toString()">
							MEM_ID like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 1)데이타(목록) -->
	<select id="getListWithPaging" parameterType="com.seofriends.dto.Criteria" resultType="com.seofriends.domain.BoardVO">
		<![CDATA[
		SELECT RN, BRD_NUM, MEM_ID, BRD_TITLE, BRD_CONTENT, BRD_DATE_REG, REPLYCNT
		FROM (
		    SELECT  /*+ INDEX_DESC(BOARD_TBL PK_BOARD_NUM)*/ ROWNUM RN, BRD_NUM, MEM_ID, BRD_TITLE, BRD_CONTENT, BRD_DATE_REG, REPLYCNT FROM BOARD_TBL
		    WHERE  
		]]>    
		 <include refid="criteria"></include> 
		<![CDATA[ 
		   
		         ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<!-- 2)테이블 데이타개수 : 페이징구현사용 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM BOARD_TBL WHERE
		<include refid="criteria"></include> 
		BRD_NUM > 0
	</select>
	

	
	<!--글 수정하기  -->
	<update id="update" parameterType="com.seofriends.domain.BoardVO">
		UPDATE BOARD_TBL SET BRD_TITLE = #{brd_title}, BRD_CONTENT = #{brd_content} 
		WHERE brd_num = #{brd_num}
	</update>
	
	<!--글 삭제하기  -->
	<delete id="delete" parameterType="com.seofriends.domain.BoardVO">
		DELETE FROM BOARD_TBL WHERE BRD_NUM = #{brd_num}
	</delete>
	
	



</mapper>